@import "bootstrap_variables";
@import "~bootstrap/scss/bootstrap";
@import "module_variables";
@import "module/module";

#wrapper {
  padding-bottom: 50px;
}

#header {
  min-width: $global-width;

  &, a {
    color: rgba(#000, 0.8);
  }
  background: #D2E3E1;
  padding: 30px 0;

  #header-in {
    margin-left: auto;
    margin-right: auto;
    width: $global-width;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  #header-logo {
    font-size: 2.8rem;
  }
  #header-nav {
    .header-nav__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      & > * {
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
      & > *, .dropdown-item {
        font-size: 1.4rem;
      }
    }
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: $global-width;
  // @include container();
  margin-top: 50px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1 {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
}

.form-check-label {
  margin-left: 5px;
}

.form-actions {
  margin-top: 20px;
  input[type=submit] {
    @extend .btn-danger;
  }

  .btn {
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.form-inputs {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}



.btns {
  .btn {
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

